h1,
h2,
.form-group {
  text-align: center;
}

.form-group {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

/* html {
  background-color: rosybrown;
} */

.container,
.form-group,
body {
  background-color: rosybrown;
}

#userGender,
label,
select,
.container,
body {
  text-align: center;
}

.redacted span {
  position: relative;
  white-space: pre;
}
.redacted span:after {
  background: black;
  border-radius: 0.1em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  content: " ";
  width: 100%;
  height: 1.2em;
  left: 0;
  position: absolute;
  transform: skewY(-5deg) rotate(5deg);
}

.javaImg,
.pythonImg,
.goImg {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border: 5px groove black;
}

#javaProgram {
  border: 3px groove black;
  display: none;
}

#pythonProgram {
  border: 3px groove black;
  display: none;
}

#goProgram {
  border: 3px groove black;
  display: none;
}

#response {
  display: none;
}

#outcome1 {
  display: none;
  font-size: large;
}

#outcome2 {
  display: none;
  font-size: large;
}

#outcome3 {
  display: none;
  font-size: large;
}

#outcome4 {
  display: none;
  font-size: large;
}

.expResult1 {
  display: none;
  font-size: large;
}

.expResult2 {
  display: none;
  font-size: large;
}

.expResult3 {
  display: none;
  font-size: large;
}

#borderPreSelection {
  background-image: url(/img/stockborderpre.jpg);
  font-size: larger;
  color: red;
  border: 5px solid gold;
}

#centerPreSelection {
  background-image: url(/img/stockbackgroundpre.jpg);
  font-size: larger;
  color: red;
  border: 5px solid gold;
}

h2 {
  font-size: larger;
  color: red;
  border: 5px solid gold;
}

.choiceCenter {
  color: red;
  border: 5px solid gold;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

#centerPreSelection,
#borderPreSelection {
  display: none;
}

#borderPostSelection {
  background-image: url(/img/stockborderpost.jpg);
  font-size: larger;
  color: red;
  border: 5px solid gold;
}

#javaProgram,
#goProgram,
#pythonProgram {
  background-image: url(/img/stockbackgroundpost.jpg);
  font-size: larger;
  color: whitesmoke;
  border: 5px solid gold;
}

#eyesOfFate {
  border-radius: 450px;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(227, 18, 26, 0.75672275746236) 43%,
    rgba(0, 212, 255, 1) 100%
  );
}
