h1,
h2,
.form-group {
  text-align: center;
}

.form-group {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.container,
.form-group,
body {
  background-color: rgb(139, 133, 133);
}

#userGender {
  text-align: center;
  background-color: blanchedalmond;
}
label,
select,
.container,
body {
  text-align: center;
  background-color: rgb(139, 133, 133);
}

.redacted span {
  position: relative;
  white-space: pre;
}
.redacted span:after {
  background: black;
  border-radius: 0.1em;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  content: " ";
  width: 100%;
  height: 1.2em;
  left: 0;
  position: absolute;
  transform: skewY(-5deg) rotate(5deg);
}

.javaImg,
.pythonImg,
.goImg {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

footer {
  border: 5px groove black;
}

#javaProgram {
  border: 3px groove black;
  display: none;
}

#pythonProgram {
  border: 3px groove black;
  display: none;
}

#goProgram {
  border: 3px groove black;
  display: none;
}

#response {
  display: none;
}

#outcome1 {
  display: none;
  font-size: large;
}

#outcome2 {
  display: none;
  font-size: large;
}

#outcome3 {
  display: none;
  font-size: large;
}

#outcome4 {
  display: none;
  font-size: large;
}

.expResult1 {
  display: none;
  font-size: large;
}

.expResult2 {
  display: none;
  font-size: large;
}

.expResult3 {
  display: none;
  font-size: large;
}

#borderPreSelection {
  background-image: url(../img/stockborderpre.jpg);
  font-size: larger;
  color: red;
  border: 5px solid gold;
}

#centerPreSelection {
  background-image: url(../img/stockbackgroundpre.jpg);
  font-size: larger;
  color: red;
  border: 5px solid gold;
}

#questionsRow {
  border-style: dashed;
  border-radius: 20%;
}

h2 {
  font-size: larger;
  color: red;
  border: 5px solid gold;
}

.choiceCenter {
  color: red;
  border: 5px solid gold;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

#borderPostSelection {
  background-image: url(../img/stockborderpost.jpg);
  font-size: larger;
  color: red;
  border: 5px solid gold;
  display: none;
}

#javaProgram,
#goProgram,
#pythonProgram {
  background-image: url(../img/stockbackgroundpost.jpg);
  font-size: larger;
  color: whitesmoke;
  border: 5px solid gold;
}

#eyesOfFate {
  clip-path: ellipse(14% 49% at 48% 50%);
  background-image: url(../img/backeye.jpg);
  background-size: 100%;
}

#response {
  border: 5px solid gold;
  color: aliceblue;
  font-size: larger;
}

.expResult1,
.expResult2,
.expResult3 {
  color: aliceblue;
}
